@import './pure.css';

body {
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

#layout {
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.menu-link {
  padding: 1em .7em;
}

.menu-selected>.menu-link,
.menu-selected>.menu-link:visited {
  color: #000;
}

.photo-box,
.text-box {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.photo-box img {
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

.photo-box aside {
  bottom: 0;
  color: white;
  font-size: 80%;
  padding: 1em 0.5em;
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
  background: linear-gradient(to bottom, rgba(16, 27, 30, 0) 0%, rgba(12, 2, 2, 1) 90%);
}

.photo-box aside span {
  color: #aaa;
}

.photo-box aside span a {
  color: #ccc;
  text-decoration: none;
}

.text-box {
  background-color: #313131;
  color: #ffac4a;
}

.spacing-box {
  padding: 2em;
}

.text-heading {
  color: #fff;
  padding-bottom: 0.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 24px;
}

.text-subhead {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form-box {
  text-align: center;
  font-size: 120%;
  border-bottom: 1px solid #eee;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box .button {
  background-color: #61B842;
  color: white;
  vertical-align: top;
  font-size: 85%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 4px;
  margin: 0.3em;
}

.form input[type] {
  margin: 0.3em;
  text-align: center;
}

.description-box p {
  margin: 1em 0;
}

.footer {
  background: #111;
  color: #666;
  font-size: 80%;
  padding: 1em;
  text-align: center;
}

@media (min-width: 30em) {

  .photo-box,
  .text-box {
    text-align: left;
  }
}